@charset "UTF-8";
html {
  --body: rgba(51,51,51,.1);
  --bg: #f4f4f4;
  --sidebar: #fff;
  --text: #333;
  --title: #fff;
}
html.dark {
  --body: rgba(255,255,255,.05);
  --bg: #333;
  --sidebar: #444;
  --text: #fff;
  --title: #444;
}

@font-face {
  font-family: "Bebas Neue Bold";
  src: url("/fonts/bebas-neue/BebasNeueBold.eot");
  src: url("/fonts/bebas-neue/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("/fonts/bebas-neue/BebasNeueBold.woff") format("woff"), url("/fonts/bebas-neue/BebasNeueBold.ttf") format("truetype"), url("/fonts/bebas-neue/BebasNeueBold.svg#BebasNeueBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab Light";
  src: url("/fonts/roboto-slab/RobotoSlab-Light.eot");
  src: url("/fonts/roboto-slab/RobotoSlab-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-slab/RobotoSlab-Light.woff") format("woff"), url("/fonts/roboto-slab/RobotoSlab-Light.ttf") format("truetype"), url("/fonts/roboto-slab/RobotoSlab-Light.svg#RobotoSlab-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab Light Italic";
  src: url("/fonts/roboto-slab/RobotoSlab-LightItalic.eot");
  src: url("/fonts/roboto-slab/RobotoSlab-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-slab/RobotoSlab-LightItalic.woff") format("woff"), url("/fonts/roboto-slab/RobotoSlab-LightItalic.ttf") format("truetype"), url("/fonts/roboto-slab/RobotoSlab-LightItalic.svg#RobotoSlab-LightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab";
  src: url("/fonts/roboto-slab/RobotoSlab-Regular.eot");
  src: url("/fonts/roboto-slab/RobotoSlab-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-slab/RobotoSlab-Regular.woff") format("woff"), url("/fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype"), url("/fonts/roboto-slab/RobotoSlab-Regular.svg#RobotoSlab-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab Extar";
  src: url("/fonts/roboto-slab/RobotoSlab-ExtraBold.eot");
  src: url("/fonts/roboto-slab/RobotoSlab-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/fonts/roboto-slab/RobotoSlab-ExtraBold.woff") format("woff"), url("/fonts/roboto-slab/RobotoSlab-ExtraBold.ttf") format("truetype"), url("/fonts/roboto-slab/RobotoSlab-ExtraBold.svg#RobotoSlab-ExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Icons";
  src: url("/fonts/icons/icons.eot");
  src: url("/fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("/fonts/icons/icons.woff") format("woff"), url("/fonts/icons/icons.ttf") format("truetype"), url("/fonts/icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon], [class*=" icon"] {
  font-family: "Icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon.resume::before {
  content: "";
}
.icon.portfolio::before {
  content: "";
}
.icon.blog::before {
  content: "";
}
.icon.contacts::before {
  content: "";
}
.icon.arrow::before {
  content: "";
}

* {
  outline: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* ERIC MEYER RESET
================================================== */
html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: 0;
}

a:hover,
a:active {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

html {
  height: 100%;
}
html body {
  height: 100%;
  background-color: var(--body);
  font-family: "RobotoSlab Light";
  position: relative;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (30 - 16) + 16px);
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
html body::after {
  content: "";
  width: 100%;
  height: 80px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg);
  z-index: 1;
}
html header {
  width: 100%;
  height: 80px;
  z-index: 4;
  position: relative;
  top: 0;
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
html header .burder {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 29px;
  left: 16px;
  z-index: 4;
}
html header .burder span {
  width: 4px;
  height: 4px;
  display: block;
  border-radius: 10px;
  position: absolute;
  background-color: var(--text);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
html header .burder span.lt {
  top: 0;
  left: 0;
}
html header .burder span.rt {
  top: 0;
  right: 0;
}
html header .burder span.lb {
  bottom: 0;
  left: 0;
}
html header .burder span.rb {
  bottom: 0;
  right: 0;
}
html header .theme svg {
  width: 40px;
  height: 40px;
  padding: 20px;
}
@media only screen and (max-width: 767px) {
  html header .theme svg {
    width: 30px;
    height: 30px;
    padding-right: 6px;
  }
}
html header .theme svg .st0 {
  fill: var(--text);
  opacity: 0.2;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
html header .theme svg .st1 {
  fill: var(--text);
  opacity: 1;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
html header .theme.active .st0 {
  opacity: 1;
}
html header .theme.active .st1 {
  opacity: 0.2;
}
html footer {
  padding-bottom: 8px;
}
@media only screen and (min-width: 1280px) {
  html footer {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 1279px) {
  html footer {
    margin-top: 40px;
  }
}
html footer p {
  color: var(--title);
  font-family: "RobotoSlab Extar";
  margin: 0 0 0 -4px;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (50 - 18) + 18px);
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
html .container {
  min-height: 100%;
  margin-left: 320px;
  position: relative;
  background-color: var(--bg);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
@media only screen and (max-width: 1279px) {
  html .container {
    margin-left: 100px;
  }
}
@media only screen and (max-width: 767px) {
  html .container {
    margin-left: 0;
  }
}
html .container-wrapper {
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
@media only screen and (min-width: 1280px) {
  html .container-wrapper {
    padding-left: 164px;
  }
}
@media only screen and (max-width: 1279px) {
  html .container-wrapper {
    padding-left: 134px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html .container-wrapper {
    padding-left: 98px;
  }
}
@media only screen and (max-width: 767px) {
  html .container-wrapper {
    padding-left: 44px;
  }
}
html .container-wrapper.loading::before, html .container-wrapper.error::before {
  content: "Загрузка...";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 40px;
  background-color: var(--bg);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
html .container-wrapper.error::before {
  content: "Ой!...";
}
html .container::after {
  content: "";
  width: 200px;
  height: calc(100% - 80px);
  display: block;
  position: absolute;
  background-color: var(--body);
  top: 80px;
  right: 0;
  opacity: 0.5;
}
@media only screen and (max-width: 767px) {
  html .container::after {
    width: 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html .container::after {
    width: 100px;
  }
}
html .spoiler__content {
  display: none;
}
html .spoiler__link {
  text-align: right;
  margin: 40px 80px 40px 0;
}
html .spoiler__link a {
  color: #40b4ea;
  font-family: "Bebas Neue Bold";
  text-decoration: none;
  letter-spacing: 0.08em;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  display: inline-flex;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (20 - 16) + 16px);
}
html .spoiler__link a::before {
  content: attr(data-text);
}
html .spoiler__link a::after {
  content: "";
  font-family: "Icons";
  font-size: 14px;
  margin: -4px 0 0 8px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
}
html .spoiler__link a:hover::after {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
html .spoiler__link a.active::before {
  content: attr(data-less);
}
html .spoiler__link a.active:hover::after {
  margin-top: -6px;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  html .spoiler__link {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 767px) {
  html .spoiler__link {
    margin: 20px 20px 20px 0;
  }
}
html .spoiler.active .spoiler__content {
  display: block;
}

.sidebar {
  width: 320px;
  height: 100%;
  padding: 80px 0px 8px;
  box-sizing: border-box;
  background-color: var(--sidebar);
  position: fixed;
  z-index: 3;
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1279px) {
  .sidebar {
    width: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar {
    width: 320px;
    margin-left: -320px;
  }
  .sidebar.active {
    margin-left: 0;
  }
}
.sidebar img {
  max-width: 100%;
}
@media only screen and (max-width: 1279px) {
  .sidebar img {
    width: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar img {
    width: 100%;
  }
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.sidebar nav a {
  color: var(--text);
  text-decoration: none;
  font-family: "Bebas Neue Bold";
  opacity: 0.3;
  position: relative;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (40 - 32) + 32px);
  line-height: calc( (100vw - 320px)/(1920 - 320) * (80 - 72) + 72px);
  -webkit-transition: all 500ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -o-transition: all 500ms ease-in-out;
  -o-transition-delay: 0ms;
  -moz-transition: all 500ms ease-in-out;
  -moz-transition-delay: 0ms;
  transition: all 500ms ease-in-out;
  transition-delay: 0ms;
}
.sidebar nav a i {
  position: relative;
  display: none;
}
.sidebar nav a i::after {
  content: attr(data-tooltip);
  font: 40px/36px "Bebas Neue Bold";
  color: #ffffff;
  background: #333333;
  position: absolute;
  top: 50%;
  left: 54px;
  padding: 10px 12px 2px;
  transform: translate(0, -50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  -webkit-transition-delay: 250ms;
  -o-transition: all 250ms ease-in-out;
  -o-transition-delay: 250ms;
  -moz-transition: all 250ms ease-in-out;
  -moz-transition-delay: 250ms;
  transition: all 250ms ease-in-out;
  transition-delay: 250ms;
}
@media only screen and (max-width: 1279px) {
  .sidebar nav a i {
    display: block;
    line-height: calc( (100vw - 320px)/(1920 - 320) * (80 - 72) + 72px);
  }
}
@media only screen and (max-width: 767px) {
  .sidebar nav a i {
    display: none;
  }
}
.sidebar nav a span {
  display: block;
}
@media only screen and (max-width: 1279px) {
  .sidebar nav a span {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar nav a span {
    display: block;
  }
}
.sidebar nav a::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 34px;
  left: 60px;
  background-color: #333333;
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  -ms-transition: all 500ms;
  transition: all 500ms;
  -webkit-transition: all 250ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -o-transition: all 250ms ease-in-out;
  -o-transition-delay: 0ms;
  -moz-transition: all 250ms ease-in-out;
  -moz-transition-delay: 0ms;
  transition: all 250ms ease-in-out;
  transition-delay: 0ms;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media only screen and (max-width: 1279px) {
  .sidebar nav a::after {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar nav a::after {
    display: none;
  }
}
.sidebar nav a:hover {
  opacity: 1;
}
.sidebar nav a:hover i::after {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 250ms ease-in-out;
  -webkit-transition-delay: 0ms;
  -o-transition: all 250ms ease-in-out;
  -o-transition-delay: 0ms;
  -moz-transition: all 250ms ease-in-out;
  -moz-transition-delay: 0ms;
  transition: all 250ms ease-in-out;
  transition-delay: 0ms;
}
.sidebar nav a:hover::after {
  opacity: 1;
  visibility: visible;
  left: 50px;
  -webkit-transition: all 250ms ease-in-out;
  -webkit-transition-delay: 250ms;
  -o-transition: all 250ms ease-in-out;
  -o-transition-delay: 250ms;
  -moz-transition: all 250ms ease-in-out;
  -moz-transition-delay: 250ms;
  transition: all 250ms ease-in-out;
  transition-delay: 250ms;
}
.sidebar nav a.active {
  opacity: 1;
}
.sidebar .burder {
  color: var(--text);
  position: absolute !important;
  text-decoration: none;
  top: 28px;
  left: 16px;
  font-size: 20px;
  display: none;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media only screen and (max-width: 767px) {
  .sidebar .burder {
    display: block;
  }
}
.sidebar .copyright {
  display: flex;
  color: var(--text);
  font-family: "Bebas Neue Bold";
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media only screen and (max-width: 1279px) {
  .sidebar .copyright {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .sidebar .copyright {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.sidebar .copyright span:first-child {
  padding-right: 4px;
}

.head {
  margin-bottom: 68px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .head {
    margin-bottom: 52px;
  }
}
@media only screen and (max-width: 767px) {
  .head {
    margin-bottom: 28px;
  }
}
.head img {
  max-width: 100%;
  flex: 0 0 auto;
  display: block;
  border-radius: 100%;
  margin-right: 52px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .head img {
    width: 200px;
    margin-right: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .head img {
    width: 80px;
    margin-right: 20px;
  }
}
.head-content__text {
  color: var(--text);
  font-size: calc( (100vw - 320px)/(1920 - 320) * (40 - 16) + 16px);
  line-height: calc( (100vw - 320px)/(1920 - 320) * (96 - 38) + 38px);
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
.head-content__name {
  color: var(--text);
  font-family: "Bebas Neue Bold";
  margin-bottom: -12px;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (80 - 26) + 26px);
  line-height: calc( (100vw - 320px)/(1920 - 320) * (86 - 38) + 38px);
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}

h1 {
  color: var(--title);
  font-size: 120px;
  font-family: "RobotoSlab Extar" !important;
  text-align: right;
  position: absolute;
  top: -12px;
  left: -14px;
  writing-mode: vertical-lr;
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h1 {
    font-size: 80px;
    top: -8px;
    left: -9px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 50px;
    top: 80px;
    left: -6px;
  }
}

h2 {
  color: var(--text);
  font-family: "Bebas Neue Bold";
  margin-bottom: 16px;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (50 - 26) + 26px);
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    margin-bottom: 8px;
  }
}

p, li {
  color: var(--text);
  margin: 0 80px 40px 0;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (30 - 16) + 16px);
  line-height: calc( (100vw - 320px)/(1920 - 320) * (46 - 28) + 28px);
  -webkit-transition: all 750ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  p, li {
    margin: 0 40px 24px 0;
  }
}
@media only screen and (max-width: 767px) {
  p, li {
    margin: 0 20px 20px 0;
  }
}

ul li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  flex: 0 0 10px;
  margin: 14px 40px 0 0;
  background: #40b4ea;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  ul li::before {
    width: 8px;
    height: 8px;
    flex: 0 0 8px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 767px) {
  ul li::before {
    width: 4px;
    height: 4px;
    flex: 0 0 4px;
    margin: 12px 12px 0 0;
  }
}
