$tr: transparent;
$white: #fff;
$black: #333;
$black-light: #444;
$dark: #000;

$gray: #ECECEC;
$gray-light: #F4F4F4;
$gray-dark: #3D3D3D;
$grays: #CDCDCD;
$grays-dark: #888;

$blue: #40b4ea;

$behance: #0241d1;