// Font size
$fs-x1: 4px;
$fs-x2: 8px;
$fs-x3: 12px;
$fs-x4: 16px;
$fs-x5: 20px;
$fs-x6: 24px;
$fs-x7: 28px;
$fs-x8: 32px;
$fs-x9: 36px;
$fs-x10: 40px;
$fs-x11: 44px;
$fs-x12: 48px;
$fs-x14: 56px;
$fs-x16: 60px;
$fs-x16: 64px;

// line height
$lh-x1: 4px;
$lh-x2: 8px;
$lh-x3: 12px;
$lh-x4: 16px;
$lh-x5: 20px;
$lh-x6: 24px;
$lh-x7: 28px;
$lh-x8: 32px;
$lh-x9: 36px;
$lh-x10: 40px;
$lh-x11: 44px;
$lh-x12: 48px;
$lh-x13: 52px;
$lh-x14: 56px;
$lh-x15: 60px;
$lh-x16: 64px;
$lh-x17: 68px;
$lh-x18: 72px;
$lh-x19: 74px;
$lh-x20: 80px;

// Icons
$icon-x3: 12px;
$icon-x4: 16px;
$icon-x5: 20px;
$icon-x6: 24px;
$icon-x7: 28px;
$icon-x8: 32px;