$gap-x0: 0;
$gap-x1: 4px;
$gap-x2: 8px;
$gap-x3: 12px;
$gap-x4: 16px;
$gap-x5: 20px;
$gap-x6: 24px;
$gap-x7: 28px;
$gap-x8: 32px;
$gap-x9: 36px;
$gap-x10: 40px;
$gap-x11: 44px;
$gap-x12: 48px;
$gap-x13: 52px;
$gap-x14: 56px;
$gap-x15: 60px;
$gap-x16: 64px;
$gap-x17: 68px;
$gap-x18: 72px;
$gap-x19: 76px;
$gap-x20: 80px;