.container {
  position: relative;
  @include grid(auto 1fr,auto,0);

  @include screen(0,799) {
    height: $size-100;
  }
}

.wrapper {
  @include flex($cl,$fs,$s);

  @include screen(0,799) {
    width: 100vw;
  }
}

.nuxt_div {
  height: 100%;
}