aside {
  z-index: 6;
  height: 100%;
  position: relative;
  @include transition(250);

  @include screen(0,799) {
    height: 100vh;
    position: fixed;
    top: 0;
    transform: translateX(-$size-100);
  }
  
  .sidebar {
    height: 100dvh;
    box-sizing: border-box;
    background: var(--sidebar);
    padding: $gap-x20 $gap-x16 $gap-x2;
    position: sticky;
    top: 0;
    @include flex($cl,$sb,$c);
    @include transition(250);

    @include mq(laptop) {
      padding-left: $gap-x2;
      padding-right: $gap-x2;
    }

    @include screen(0,799) {
      padding: $gap-x20 $gap-x11 $gap-x2;
    }

    img {
      @include mq(laptop) {
        width: $size-x9;
      }
    }

    nav {
      @include flex($cl,$fs,$s,$gap-x10);

      @include screen(0,799) {
        gap: $gap-x10;
      }

      a {
        color: var(--nav);
        text-decoration: none;
        font: #{$fs-x9}/#{$lh-x9} $title;
        position: relative;
        @include flex($r,$fs,$c);
        @include transition(250);

        @include mq(laptop) {
          font: #{$fs-x8}/#{$lh-x8} $title;
          @include flex($cl,$c,$c,$gap-x4);
        }

        i {
          display: none;

          @include mq(laptop) {
            display: block;
          }
        }

        span {

          @include mq(laptop) {
            font: #{$fs-x5}/#{$lh-x4} $title;
            position: absolute;
            left: $gap-x15;
            color: var(--tooltip_text);
            background: var(--tooltip);
            padding: $gap-x3 $gap-x3 $gap-x2;
            pointer-events: none;
            opacity: 0;
            @include transition-delay(250,250);

            &::before {
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: $size-x2 $size-x2 $size-x2 0;
              border-color: transparent var(--tooltip) transparent transparent;
              position: absolute;
              top: 10px;
              left: $gap-x1;
              @include transition-delay(250,0);
            }
          }
        }

        &:hover {
          color: var(--text);

          span {
            @include mq(laptop) {
              opacity: 1;

              &::before {
                left: -$gap-x2;
                @include transition-delay(250,250)
              }
            }
          }
        }

        &.active {
          color: var(--text);
        }
      }
    }

    .copyright {
      opacity: .2;
      @include title(14,12,auto,auto);
      @include flex($r,$c,$c,$gap-x1);
      
      span {
        @include transition(0);
      }

      @include mq(laptop) {
        @include flex($cl,$c,$c,$gap-x1);
      }
    }
  }

  &.active {
    @include screen(0,799) {
      transform: translateX(0);
    }
  }
}