$font-path: "/fonts"; // Путь до папки с шрифтами
$font-primary: "VisueltPro"; // Папка шрифта
$font-passed: "CircularStd"; // Папка с иконками

$ff: "Visuelt Pro", sans-serif;
$fb: "Circular Std", sans-serif;

// Visuelt Pro
@font-face {
	font-family: "Visuelt Pro";
	src:
		url(#{$font-path}/#{$font-primary}/VisueltPro-Bold.woff) format("woff"),
		url(#{$font-path}/#{$font-primary}/VisueltPro-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Visuelt Pro";
	src:
		url(#{$font-path}/#{$font-primary}/VisueltPro-Regular.woff) format("woff"),
		url(#{$font-path}/#{$font-primary}/VisueltPro-Regular.woff2) format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Circular Std";
	src:
		url(#{$font-path}/#{$font-passed}/CircularStd-Bold.woff) format("woff"),
		url(#{$font-path}/#{$font-passed}/CircularStd-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
