$shadow_1: $zui-0 $zui-2 $zui-4 $zui-0 rgba(34, 34, 34, 0.12), $zui-0 $zui-0 $zui-1 $zui-0 rgba(0, 0, 0, 0.40); 
$shadow_2: $zui-0 $zui-2 6px $zui-2 rgba(0, 0, 0, 0.15), $zui-0 $zui-0 $zui-1 $zui-0 rgba(0, 0, 0, 0.50);
$shadow_3: $zui-0 3px 6px 3px rgba(0, 0, 0, 0.15), $zui-0 $zui-0 $zui-1 $zui-0 rgba(0, 0, 0, 0.40); 
$shadow_4: $zui-0 5px 1$zui-0 $zui-4 rgba(0, 0, 0, 0.15), $zui-0 $zui-0 $zui-1 $zui-0 rgba(0, 0, 0, 0.30); 
$shadow_5: $zui-0 $zui-8 $zui-16 5px rgba(0, 0, 0, 0.15), $zui-0 $zui-0 $zui-1 $zui-0 rgba(0, 0, 0, 0.30);

$shadow_focus: $zui-0 $zui-0 $zui-0 $zui-4 rgba(198, 208, 238, 0.50), $zui-0 $zui-2 $zui-4 $zui-0 rgba(34, 34, 34, 0.12), $zui-0 $zui-0 $zui-1 $zui-0 rgba(0, 0, 0, 0.50);
$shadow_validation: $zui-0 $zui-0 $zui-0 $zui-4 rgba(242, 209, 209, 0.50), $zui-0 $zui-2 $zui-4 $zui-0 rgba(34, 34, 34, 0.12), $zui-0 $zui-0 $zui-1 $zui-0 rgba(0, 0, 0, 0.50);