// Colors
:root {
  --h1: #{$white};
  --text: #{$black};
  --sidebar: #{$white};
  --after: #{$gray};
  --background: #{$gray-light};
  --tooltip: #{$black};
  --tooltip_text: #{$white};
  --nav: #{$grays};
  --portfolio: rgba(255, 255, 255, .6);
  --pre: #f8f8f8;
  --pre_border: #e6e6e6;
  --code: rgba(244, 244, 244, 0.8);
  --preview: url('/images/backpack/light.svg');
}

[data-theme='dark'] {
  --h1: #{$black-light};
  --text: #{$white};
  --sidebar: #{$black-light};
  --after: #{$gray-dark};
  --background: #{$black};
  --tooltip: #{$white};
  --tooltip_text: #{$black};
  --nav: #{$grays-dark};
  --portfolio: rgba(0, 0, 0, .6);
  --pre: #2e2e2e;
  --pre_border: #404040;
  --code: rgba(51, 51, 51, 0.8);
  --preview: url('/images/backpack/dark.svg');
}

// Elements
[data-theme='dark'] {
  .dark {
    opacity: 1 !important;
  }

  .light {
    opacity: .2;
  }
}