.select__defalut {
  border: $zui-2 solid var(--border);
  border-radius: $zui-12;
  padding: $zui-8 $zui-16;
  position: relative;
  @include text($normal-x4,$text-light,$text-dark);
  @include theme(background,$bg-light,$bg-dark);
  @include transition;
}