.toggle {
  
  &__control {
    cursor: pointer;
    @include text($subline-x4);
    @include flex($rw,$fs,$cr,$zui-8);

    input {
      &[type="checkbox"] {
        position: relative;
        width: $zui-44;
        height: $zui-24;
        outline: none;
        border-radius: $zui-20;
        appearance: none;
        box-sizing: border-box;
        cursor: pointer;
        @include theme(background,$contrast-light,$sidebar-dark);
    
        &:before {
          content: '';
          position: absolute;
          width: $zui-16;
          height: $zui-16;
          border-radius: $zui-100p;
          top: $zui-4;
          left: $zui-4;
          background: #fff;
          transition: .2s;
        }
    
        &:checked {
          @include theme(background,$primary,$primary);
    
          &:before {
            left: calc($zui-100p - $zui-20);
          }
        }
      }

      &:disabled {
        opacity: .2;
      }
    }
  }
}