input {

  &[type="number"] {
    width: 100%;
    color: var(--text);
    padding: $gap-x2 $gap-x3;
    border: 1px solid var(--nav);
    border-radius: $gap-x1;
    box-sizing: border-box;
    background: var(--background);
    -moz-appearance: textfield;
    @include transition(250);

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

textarea {
  width: 100%;
  color: var(--sidebar);
  padding: $gap-x2 $gap-x3;
  border: 1px solid var(--h1);
  border-radius: $gap-x1;
  box-sizing: border-box;
  background: var(--background);
  resize: none;
  @include transition(250);
}