.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: $dark;
  opacity: 0;
  pointer-events: none;
  @include transition(250);

  &.active {
    opacity: .9;
    pointer-events: all;
  }
}