.tag {
  color: $white;
  font: #{$fs-x5}/#{$lh-x5} $title;
  padding: $gap-x1 $gap-x1 0;
  top: $gap-x2;
  right: -$gap-x1;
  position: absolute;
  z-index: 2;
  background: $black;
  display: none;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 0;
    position: absolute;
    bottom: -$gap-x1;
    right: 0;
    border-color: #444444 transparent transparent transparent;
  }

  &.html {
    color: $white;
    background: #ff651e;
    display: block;

    &::after {
      border-color: #d1411c transparent transparent transparent;
    }
  }

  &.css {
    color: $white;
    background: #3486e5;
    display: block;

    &::after {
      border-color: #2062af transparent transparent transparent;
    }
  }

  &.js {
    color: $black;
    background: #fbde33;
    display: block;

    &::after {
      border-color: #efc724 transparent transparent transparent;
    }
  }
}