html {
  height: $zui-100p;
  overflow-x: hidden;
}

body {
  height: $zui-100p;
  overflow-x: hidden;
  @include text($normal-x5,$text-light,$text-dark);
  @include theme(background, $bg-light, $bg-dark);
  @include grid($zui-100p,auto 1fr auto,$zui-0);
  @include transition;
}

.container {
  max-width: $grid;
  margin: $zui-0 auto;
  padding: $zui-0 $zui-20;

  @include mq(mobile) {
    padding: $zui-0 $zui-12;
  }
}