.backpack {
  
  &-main {
    height: calc(100dvh - 133px);

    &__wrapper {
      @include grid(repeat(2,1fr),auto,$gap-x4);

      @include screen(1800) {
        width: 1800px;
        @include grid(repeat(3,1fr),auto,$gap-x5);
      }

      @include screen(0,660) {
        @include grid(100%,auto,$gap-x3);
      }
    }

    .item {
      background: var(--sidebar);
      text-decoration: none;
      color: var(--text);
      padding: $gap-x7;
      @include flex($cl,$fs,$fs,0);
      transform: scale(1);
      @include transition(250);

      &-header {
        margin-bottom: $gap-x3;
        @include flex($r,$fs,$c,$gap-x3);

        &__title {
          @include title(32,20,34,24);
        }

        svg {
          margin-top: -3px;
          @include h(24,16);
        }
      }

      &__text {
        @include fs(20,16);
        @include lh(24,28);
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &-page {
    height: calc(100dvh - 133px);

    @include screen(0,800) {
      height: auto;
    }
  }

  .triangle {
    position: relative;
    z-index: 2;
    @include grid(repeat(2,1fr),auto,$gap-x4);
    
    @include screen(0,800) {
      @include grid(100%,auto,$gap-x4);
    }

    &__setting {

      &-directions {
        width: 100%;
        margin-bottom: $gap-x8;
        justify-content: center;
        align-items: center;
        @include grid(repeat(3,64px),repeat(3,64px),$gap-x8);

        label {
          height: 100%;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          border: 1px solid var(--h1);
          box-sizing: border-box;
          border-radius: 4px;
          @include flex($r,$c,$c,0);
          @include transition;

          &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            @include center;
          }

          &:nth-of-type(1) {

            &::before {
              border-width: 100px 100px 0 0;
              border-color: $blue transparent transparent transparent;
            }
          }

          &:nth-of-type(2) {

            &::before {
              border-width: 0 32px 64px 32px;
              border-color: transparent transparent $blue transparent;
            }
          }

          &:nth-of-type(3) {

            &::before {
              border-width: 100px 0 0 100px;
              border-color: $blue transparent transparent transparent;
            }
          }

          &:nth-of-type(4) {

            &::before {
              border-width: 32px 64px 32px 0;
              border-color: transparent $blue transparent transparent;
            }
          }

          &:nth-of-type(5) {

            &::before {
              border-width: 32px 0 32px 64px;
              border-color: transparent transparent transparent $blue;
            }
          }

          &:nth-of-type(6) {

            &::before {
              border-width: 100px 0 0 100px;
              border-color: transparent transparent transparent $blue;
            }
          }

          &:nth-of-type(7) {

            &::before {
              border-width: 64px 32px 0 32px;
              border-color: $blue transparent transparent transparent;
            }
          }

          &:nth-of-type(8) {

            &::before {
              border-width: 0 0 100px 100px;
              border-color: transparent transparent $blue transparent;
            }
          }

          input[type="radio"] {
            width: 100%;
            height: 100%;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 2;
          }

          &:has(input:checked) {
            @include border(1,1,1,1,$blue,.4);
          }
        }

        div {
          @include flex($r,$c,$c,0);

          svg {
            width: 40px;
            height: 40px;

            path {
              fill: var(--sidebar);
            }
          }
        }
      }

      &-size {
        @include flex($r,$fs,$c,$gap-x4);
      }

      &-item {
        width: 100%;
        @include flex($cl,$fs,$fs,$gap-x2);

        label {
          font-family: $title;
          font-size: 14px;
          letter-spacing: .02em;
        }
      }
    }

    &__demo {
      @include flex($cl,$fs,$fs,20px);

      &-preview {
        width: 100%;
        height: 180px;
        padding: 0 $gap-x9;
        box-sizing: border-box;
        overflow: hidden;
        border: 1px solid var(--h1);
        background: var(--preview);
        border-radius: 2px;
        @include flex($r,$c,$c,0);
      }

      &-textarea {
        width: 100%;
        height: 100%;
        position: relative;

        .message {
          width: calc(100% - 2px);
          height: calc(100% - 2px);
          inset: 1px;
          position: absolute;
          border-radius: 4px;
          backdrop-filter: blur(1.5px);
          background: var(--code);
          opacity: 0;
          pointer-events: none;
          @include flex($r,$c,$c,0);
          @include transition(200);

          &.__active {
            opacity: 1;
            pointer-events: all;
          }
        }
      }

      &-code {
        width: 100%;
        @include flex($cl,$c,$c,12px);

        textarea {
          color: var(--text);
          height: 94px;
        }

        button {
          margin: 0;
          color: $white;
          background: $blue;
          padding: 12px 32px 8px;
          border-radius: 4px;
          font-size: 20px;
          line-height: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
}