.main {

  &-item {
    z-index: 2;
    position: relative;
    @include mb(80,28);

    h2 {
      font-family: $title;
      @include fs(52,24);
      @include mb(20,20);
    }

    h3 {
      font-family: $title;
      @include fs(44,20);
      @include mb(20,20);
    }

    p {
      @include fs(32,16);
      @include lh(48,28);
      @include mb(40,20);
    }

    ul {

      li {
        @include fs(32,16);
        @include lh(48,28);
        @include mb(40,20);
        @include flex($r,$fs,$fs);
        @include gap(24,16);

        &::before {
          content: '';
          display: block;
          flex: 0 0 auto;
          background: $blue;
          @include w(8,4);
          @include h(8,4);
          @include mt(20,12);
        }
      }
    }

    button {
      color: $blue;
      background: $tr;
      font-family: $title;
      margin: -$gap-x5 0 0 auto;
      @include fs(20,16);
      @include flex($r,$fs,$c,$gap-x2);

      i {
        display: block;
        margin-top: -4px;
        @include fs(15,12);

        &::before {
          display: block;
          @include transition(250);
        }
      }

      &:hover {

        i {

          &::before {
            @include transform(rotate(90deg));
          }
        }
      }

      &.active {
        &:hover {

          i {
  
            &::before {
              @include transform(rotate(-90deg));
            }
          }
        }
      }
    }
  }
}