.page {

  &__tag {
    position: relative;

    @include mq(mobile) {
      width: $zui-100p;
      
      &::after {
        content: '';
        width: $zui-20;
        height: $zui-100p;
        display: block;
        pointer-events: none;
        @include top_right;
        background: linear-gradient(to right, $tr 0%,var(--nav-after) 100%);
      }
    }

    &-list {
      @include top_right(sticky,$zui-20,$zui-0);

      @include mq(mobile) {
        overflow-x: scroll;
        scroll-behavior: smooth;
        @include flex($rw,$fs,$fs,$zui-8);
        @include nosb;
      }
    }

    &-link {
      text-transform: uppercase;
      text-decoration: none;
      opacity: .4;
      display: block;
      padding: $zui-8 $zui-16;
      @include text($normal-x3,$text-light,$text-dark);
      
      @include mq(mobile) {
        padding: $zui-8 $zui-16 calc($zui-8 - $zui-2);
      }

      &:hover, &:focus {
        opacity: 1;
      }
    }

    &-item {
      border-bottom: $zui-1 solid;
      @include theme(border-color,$sidebar-light,$sidebar-dark);
      
      @include mq(mobile) {
        border: $zui-0;
        border-radius: $zui-40;
        @include theme(background,$sidebar-light,$sidebar-dark);

        &:last-child {
          margin-right: $zui-12;
        }
      }
      
      &.__active {
        .page__tag-link {
          opacity: 1;
        }
      }
    }
  }
}