.main-hero {
  height: calc(100dvh - 94px);

  @include mq(modal) {
    height: calc(100dvh - 66px);
  }

  &__button {
    text-transform: uppercase;
    letter-spacing: .1em;
    overflow: hidden;
    position: relative;
    @include text($small,$text-light,$text-dark);
    @include flex($rw,$fs,$cr,$zui-40,$di);
    @include block(($tr,$tr),$zui-16 $zui-24,$zui-80,none);

    @include screen(900,1070) {
      font: $bold-x3;
    }

    @include screen(0,899) {
      display: none;
    }

    &::before {
      content: '';
      width: $zui-48;
      height: $zui-48;
      display: block;
      border-radius: $zui-80;
      z-index: 1;
      @include top_left;
      @include theme(background,$contrast-light,$contrast-dark);
      @include transition;
    }

    &-text {
      position: relative;
      z-index: 2;
    }

    svg {
      position: relative;
      z-index: 2;

      path {
        @include theme(fill,$text-light,$text-dark)
      }
    }

    &:hover {
      &::before {
        width: $zui-100p;
        @include theme(background,$sidebar-light,$sidebar-dark);
      }
    }
  }
}