.footer {
  height: 200px;
  padding: $zui-64 $zui-0;
  position: relative;
  z-index: 2;
  overflow: hidden;
  @include flex($cl,$cr,$cr,$zui-24);
  @include theme(background,$text-light,$footer-dark);

  &__social {
    @include flex($rw,$cr,$cr,$zui-8);

    &-link {
      width: $zui-32;
      height: $zui-32;
      border-radius: $zui-80;
      @include flex($rw,$cr,$cr,$zui-0);
      @include transition;

      path {
        @include transition;
      }

      &:hover {

        &:has(.github,.codepen) {
          background: $text-dark;

          path {
            fill: $text-light;
          }
        }

        &:has(.npm) {
          background: $npm;

          path {
            fill: $text-dark;
          }
        }

        &:has(.behance) {
          background: $behance;

          path {
            fill: $text-dark;
          }
        }

        &:has(.telegram) {
          background: $telegram;

          path {
            fill: $text-dark;
          }
        }

        &:has(.vk) {
          background: $vk;

          path {
            fill: $text-dark;
          }
        }
      }
    }
  }

  &__rang {
    @include bottom_left(absolute,-3px,$zui-0);
    @include theme(opacity,1,.3);

    @include mq(mobile) {
      @include bottom_left(-5px,$zui-0);
    }
  }

  &__link, &__text {
    text-decoration: none;
    opacity: .08;
    @include transition;
    @include text($headline-x8,$sidebar-light);

    @include mq(desktop) {
      font: $headline-x6;
    }

    @include mq(laptop) {
      font: $headline-x4;
    }

    @include mq(tablet) {
      font: $headline-x4;
    }

    @include mq(mobile) {
      font: $bold-x4;
    }
  }

  &__link {
    &:hover {
      color: $primary;
      opacity: 1;
    }
  }

  &__copyright {
    @include text($mini,$text-dark);
  }

  &__zui {
    text-decoration: none;
    text-transform: uppercase;
    @include bottom_right(absolute,-10px,-$zui-2);
    @include text($title-x14,$contrast-dark);
    @include theme(opacity,.4,.4);
    @include transition;

    @include mq(desktop) {
      font: $title-x12;
    }

    @include mq(tablet) {
      font: $headline-x10;
    }

    @include mq(mobile) {
      font: $headline-x10;
      @include bottom_right(absolute,-$zui-12,-$zui-2);
    }

    &:hover {
      color: $primary;
      @include theme(opacity,1,1);
    }
  }
}