.portfolio {

  &-image {
    @include top_center(absolute,-$zui-12);
    margin-left: $zui-0;
    z-index: 1;
    pointer-events: none;

    path {
      @include theme(fill,$sidebar-light,$contrast-dark);
    }

    &--desktop {
      @include mq(mobile) {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include mq(mobile) {
        display: block;
        margin-top: -$zui-80;
      }
    }
  }

  &-page {

    @include mq(mobile) {
      width: $zui-100p;
      height: $zui-100p;
    }
  }

  .page-feed {
    height: 380px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
    @include flex($rw,$cr,$cr,$zui-0);

    @include mq(mobile) {
      height: auto;
      padding-bottom: $zui-24;
    }
  }

  .__portfolio {
    opacity: 1;
    
    path {
      opacity: .7;
      @include theme(fill,$text-light,$text-dark);
    }
  }
}