@mixin transition($target: all, $time: 250ms, $ease: ease-in-out) {
	-webkit-transition: $target $time;
	-moz-transition:    $target $time;
	-o-transition:      $target $time;
	-ms-transition:     $target $time;
	transition:         $target $time;
}