.aspectratio {
  @include grid(repeat(2,1fr),auto,$zui-8);
    
  @include screen(0,800) {
    @include grid(100%,auto,$zui-20);
  }

  &__directions {
    width: 100%;
    justify-content: center;
    align-items: center;
    @include grid(repeat(3,#{$zui-68}),repeat(2,#{$zui-68}),$zui-16);

    &-item {
      height: 100%;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      border: $zui-2 solid $primary;
      border-radius: $zui-12;
      @include flex($rw,$cr,$cr,$zui-0);
      @include theme(border-color,$sidebar-light,$sidebar-dark);
      @include transition;

      input[type="radio"] {
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        top: $zui-0;
        left: $zui-0;
        opacity: 0;
        z-index: 2;
      }

      &:has(input:checked) {
        @include border(2,2,2,2,$primary,1);
      }
    }

    &-selected {
      text-align: center;
      word-spacing: 100vw;
      @include text($normal-x3);
      @include flex($rw,$cr,$cr,$zui-0);
    }
  }

  &__controls {
    margin-bottom: $zui-12;
    @include grid(repeat(2,1fr),auto,$zui-12);
    
    @include mq(mobile) {
      @include grid(#{$zui-100p},auto,$zui-8);
    }
  }

  &__code {
    position: relative;

    &-copy {
      @include top_right(absolute,$zui-2,$zui-8);
    }

    .button {
      @include top_right(absolute,$zui-8,$zui-8);
    }
  }

  pre[class*=language-] {
    padding-top: $zui-0;
    padding-bottom: $zui-0;
    height: calc(#{$zui-80} + #{$zui-20});

    code {
      display: block;
    }
  }
}