.backpack {

  &__list {
    width: $zui-100p;
    @include grid(repeat(2,1fr),auto,$zui-20);
    
    @include screen(0,1200) {
      @include grid(repeat(2,1fr),auto,$zui-20);
    }

    @include mq(mobile) {
      @include grid(#{$zui-100p},auto,$zui-8);
    }
  }

  &__item {
    width: $zui-100p;
  }

  &__link {
    text-decoration: none;
    @include flex($cl,$fs,$fs,$zui-12);
    @include block(($sidebar-light,$sidebar-dark),$zui-20,$zui-24,none);
    @include transition;

    &:hover, &:focus {
      @include theme(background,$text-dark,$contrast-dark);
    }
  }

  &__header {
    @include flex($rw,$fs,$cr,$zui-8);

    svg {
      width: $zui-32;
      height: $zui-32;

      path {
        fill: $primary;
      }
    }
  }

  &__title {
    @include text($headline-x4,$text-light,$text-dark);
  }
  
  &__text {
    @include text($normal-x4,$text-light,$text-dark);
  }

  .__backpack {
    opacity: 1;
    
    path {
      opacity: .7;
      @include theme(fill,$text-light,$text-dark);
    }
  }
}