$r: row;
$rr: row-reverse;
$cl: column;
$clr: column-reverse;

$fs: flex-start;
$fe: flex-end;
$c: center;
$sb: space-between;
$sa: space-around;
$bl: baseline;
$s: stretch;


@mixin flex($fd: #{$r}, $jc: #{$fs}, $at: #{$fs}, $gap: 0, $fourth: null) {
  @if $fourth == null {
      display: flex;
      flex-direction: $fd;
      justify-content: $jc;
      align-items: $at;
      gap: $gap;
  } @else {
      display: $fd;
      flex-direction: $jc;
      justify-content: $third;
      align-items: $at;
      gap: $gap;
  }
}