@mixin fs($max, $min) {
  font-size: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin lh($max, $min) {
  line-height: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin title($fs-max, $fs-min, $lh-max, $lh-min) {
  font-family: $title;
  font-size: calc( (100vw - 320px)/(1920 - 320) * (#{$fs-max} - #{$fs-min}) + #{$fs-min}px);
  line-height: calc( (100vw - 320px)/(1920 - 320) * (#{$lh-max} - #{$lh-min}) + #{$lh-min}px);
}

@mixin top($max, $min) {
  top: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin top($max, $min) {
  top: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin pt($max, $min) {
  padding-top: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin pb($max, $min) {
  padding-bottom: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin pl($max, $min) {
  padding-left: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin pr($max, $min) {
  padding-right: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin mt($max, $min) {
  margin-top: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin mb($max, $min) {
  margin-bottom: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin ml($max, $min) {
  margin-left: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin mr($max, $min) {
  margin-left: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin gap($max, $min) {
  gap: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin w($max, $min) {
  width: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}

@mixin h($max, $min) {
  height: calc( (100vw - 320px)/(1920 - 320) * (#{$max} - #{$min}) + #{$min}px);
}